.grey-background {
  background: rgba(226,226,226,1) !important;
}
.navbar {
background-color: #777677;
}

.navtitle {
  height: 2em;
  background-color: #777677;
  font-family: 'Londrina Shadow', cursive;
  color: #0f1823;
  font-size: 10em;

}

.media-border {
  border: 1em, 1em, 1em, 1em;
  color: #777677;
}
.splashpage {
  background-size: cover;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-image:   url('./cooking.jpeg');
}

.ingredientinput {
  background-color: #777677;
  height: 20em;
}
.inputbox {
 width: 100%;
 padding: 12px ;
 display: inline-block;
 border: 1px solid #ccc;
 border-radius: 4px;
 box-sizing: border-box;
 font-size: .5em !important;
}
.ingredientdiv {
  margin-right: auto;
  margin-left: auto;
}
.welcometext {
  font-family: 'Londrina Shadow', cursive;
  color: white;
  font-size: 12.5em;
  align-content: center;
}

.centertitle {
  text-align: center;
  font-weight: bold;
}

.subtitle {
  font-size: .4em;
  font-weight: normal !important;
  color: white;
  background-color: transparent;
}

.searchtitle {
  font-size: 7em;
  font-family: 'Londrina Shadow', cursive;
  padding-top: 1em;

}

.searchlabel {
  text-align: center;
  color: rgb(47, 111,168);
  font-weight: bold;
  font-size: 1.5em;
  padding-bottom: .75em;
  border-radius: 10px;
}

.brothersgreentitle {
  background-size: cover;
  margin-top: 8em;
  background-image: url('./brothersgreen.png');
  height: 25vh;
  margin-left: -120px;
}

.largelink {
  font-size: 3vw;
  width: 640px;
  display: inline;
  /*float: left;*/
}

.gradientbackground {
background-repeat: no-repeat !important;
background: rgba(226,226,226,1);

}

.boxshadow {
    box-shadow: 10px 10px 5px #888888;
}
.button {
  background-color: transparent !important;
  color: white;
}

.fullpage {
  height: 50vh;
}

.greentext {
  font-family: 'Londrina Shadow', cursive;
  color: black;
  font-size: 2em;
  align-content: center;
  padding-bottom: 1em;
  font-weight: bold;
}

.ingredient-pills {
  border-radius: 25px;
  border-width: thick;
  border-color: black;
  width: 30vh;
  font-size: 4em;
  text-align: center;
  background: rgba(226,226,226,1);
  margin-left: auto;
  margin-right: auto;
}

.checkout-recipes {
  font-family: 'Londrina Shadow', cursive;
  font-size: 4em;

}
.button.btn.btn-lg.btn-primary {
  padding-top: 10em !important;
}
a {
  font-family: 'Londrina Shadow', cursive !important;
  text-decoration: none;
}

.no-underline {
  text-decoration: none !important;
}

.button-text {
  font-family: 'Londrina Shadow', cursive !important;
}
